@font-face {
  font-family: 'iconfont';  /* project id 1073735 */
  src: url('//at.alicdn.com/t/font_1073735_4u440taz0r.eot');
  src: url('//at.alicdn.com/t/font_1073735_4u440taz0r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1073735_4u440taz0r.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1073735_4u440taz0r.woff') format('woff'),
  url('//at.alicdn.com/t/font_1073735_4u440taz0r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1073735_4u440taz0r.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e69a";
}

.icon-edit:before {
  content: "\e619";
}

.icon-plus:before {
  content: "\e606";
}

.icon-pluslarge:before {
  content: "\e759";
}

.icon-et-lock:before {
  content: "\e69e";
}

.icon-eye:before {
  content: "\e60d";
}

.icon-arrow:before {
  content: "\e6e9";
}

.icon-user:before {
  content: "\e618";
}

.icon-eye-close:before {
  content: "\e6b8";
}

.icon-ico_customerService:before {
  content: "\e62e";
}

.icon-camera:before {
  content: "\e601";
}

.icon-qr_code:before {
  content: "\e739";
}

.icon-cx:before {
  content: "\e600";
}

.icon-ShoppingMall-:before {
  content: "\e64d";
}

.icon-UserSettings:before {
  content: "\e645";
}

.icon-scan:before {
  content: "\e60a";
}

.icon-Coupon:before {
  content: "\e64e";
}

.icon-xiaoku:before {
  content: "\e6ca";
}

.icon-shouye:before {
  content: "\e60b";
}

.icon-user-circle:before {
  content: "\e6d1";
}

