
*{
  word-wrap: break-word;
    word-break: normal;
}
body{
  color: #333;
  background: #eff3f5;
  font-size: 14px;
}
#app{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  min-width: 1200px;
}
.main-wrap{
  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.comm_main{
  width: 1200px;
  margin: 20px auto;
}
.is_phone .comm_main{
  width: auto;
  margin: 0;
}
.comm_item{
  background: #fff;
}
.is_phone .comm_item{
  background: none;
}
.float_left{
  float: left;
  width: 900px;
  padding: 20px 30px;
}
.is_phone .float_left{
  float: none;
  width: auto;
  padding: 20px;
}
.float_right{
  float: right;
  width: 280px;
  padding: 20px 0;
}
.is_phone .float_right{
  float: none;
  width: auto;
  padding: 0;
}
.nav_point{
  margin-top: 20px;
  padding:10px 0;
  font-size: 16px;
}
.point{
  line-height: 16px;
  margin: 22px 0;
  color: #666;
  padding-left: 20px;
  border-left: 2px solid #fff;
  cursor: pointer;
}
.point:hover{
  color: #2f3861;
}
.point.active{
  color: #2f3861;
  border-left:4px solid #aa2f33;
}

.text_one{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  line-height: 20px;
  height: 20px;
}
.no_data{
  text-align: center;
  padding: 50px 0;
}
.no_data::before{
  content: '~ 暂无数据 ~'
}
.is_phone .no_data{
  background: #fff;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333333 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #2f3861 !important;
  border-color: #2f3861 !important;
}

/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
/* 火狐 */
input{
  -moz-appearance:textfield;
}

