
body{
  color: #333;
  background: #eff3f5;
}
#app{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  min-width: 1200px;
}
.main-wrap{
  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.comm_main{
  width: 1200px;
  margin: 20px auto;
}
.comm_item{
  background: #fff;
}
.clearfix::after{
  content:'';
  display: block;
  clear: both;
}
.float_left{
  float: left;
  width: 900px;
  padding: 20px 30px;
}
.float_right{
  float: right;
  width: 280px;
  padding: 20px 0;
}
.nav_point{
  margin-top: 20px;
  padding:10px 0;
  font-size: 16px;
}
.point{
  line-height: 16px;
  margin: 22px 0;
  color: #666;
  padding-left: 20px;
  border-left: 2px solid #fff;
  cursor: pointer;
}
.point:hover{
  color: #2f3861;
}
.point.active{
  color: #2f3861;
  border-left:4px solid #aa2f33;
}
