@font-face {
  font-family: 'iconfont';  /* project id 1073735 */
  src: url('//at.alicdn.com/t/font_1073735_pf5oy13xjri.eot');
  src: url('//at.alicdn.com/t/font_1073735_pf5oy13xjri.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1073735_pf5oy13xjri.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1073735_pf5oy13xjri.woff') format('woff'),
  url('//at.alicdn.com/t/font_1073735_pf5oy13xjri.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1073735_pf5oy13xjri.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

