@charset "utf-8";

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font-family: microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: \5b8b\4f53, courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { color:#000; text-decoration: none; outline: none; }
a:hover { text-decoration: none; cursor: pointer; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; line-height: 1em; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* ie 图片使用平滑缩放 */
img { -ms-interpolation-mode: bicubic\9; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }
html,body{
  height: 100%;
}
body{
  font-size:14px;
  color: #333;
}
*{
  box-sizing: border-box;
}
.text_overflow{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.noData{
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
}

.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #c5c5c5;
}

:-moz-placeholder {
  color: #c5c5c5;
}

::-moz-placeholder {
  color: #c5c5c5;
}

:-ms-input-placeholder {
  color: #c5c5c5;
}
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: #333 !important;
  -webkit-box-shadow: 0 0 0 1000px transparent  inset !important;
  transition: background-color 50000s ease-in-out 0s;
}
